@charset "UTF-8";
/* -------------------------- *\
	Globel
\* -------------------------- */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

html,
body {
  font-family: "微軟正黑體";
  cursor: url(../cur/default.cur), default;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  outline: 0;
  color: #ccc;
}

/* placeholder */
::-webkit-input-placeholder {
  color: #000;
}
:-ms-input-placeholder {
  color: #000;
}
::-ms-input-placeholder {
  color: #000;
}
::placeholder {
  color: #000;
}

/* -------------------------- *\
	Layout
\* -------------------------- */
header .navbar {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  height: 5vw;
  background-color: #fff;
  -ms-grid-columns: 30vw 20vw auto auto auto auto 5vw;
      grid-template-columns: 30vw 20vw auto auto auto auto 5vw;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  border: 0.3vw solid #000;
}

header .navbar .brand {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  background-image: url(../images/logo/brand.png);
  background-repeat: no-repeat;
  background-position: 2vw;
  background-size: 13vw;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
  border: 0.3vw solid #000;
  margin: -0.3vw;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header .navbar .brand:hover {
  background-color: #fadc59;
}

header .navbar .nav_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.3vw solid #000;
  margin: -0.3vw;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header .navbar .nav_group:hover {
  background-color: #fadc59;
}

header .navbar .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navbar .icon {
  padding-right: 2vw;
  height: 2vw;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

header .navbar span {
  display: inline-block;
  margin-left: 0.5vw;
  font-size: 1.2vw;
  line-height: 1.8vw;
  color: #000;
  font-weight: 700;
}

header .navbar .nav-item1 {
  -ms-grid-column: 3;
  grid-column: 3;
}

header .navbar .nav-item1 .nav-link .icon {
  background-image: url(../images/icon/icon1.png);
}

header .navbar .nav-item2 {
  -ms-grid-column: 4;
  grid-column: 4;
}

header .navbar .nav-item2 .nav-link .icon {
  background-image: url(../images/icon/icon2.png);
}

header .navbar .nav-item3 {
  -ms-grid-column: 5;
  grid-column: 5;
}

header .navbar .nav-item3 .nav-link .icon {
  background-image: url(../images/icon/icon3.png);
}

header .navbar .nav-item4 {
  -ms-grid-column: 6;
  grid-column: 6;
}

header .navbar .nav-item4 .nav-link .icon {
  background-image: url(../images/icon/icon4.png);
}

header .navbar .nav-item5 {
  -ms-grid-column: 7;
  grid-column: 7;
  border: 0.3vw solid #000;
  margin: -0.3vw;
  background-color: #fff;
}

.main {
  display: -ms-grid;
  display: grid;
  border: 0.3vw solid #000;
  border-top: none;
  height: 100vh;
  -ms-grid-columns: 30vw auto 5vw;
      grid-template-columns: 30vw auto 5vw;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
}

.main .aside {
  border: 0.3vw solid #000;
  margin: 4.7vw -0.3vw -0.3vw -0.3vw;
}

.main .aside-1 {
  -ms-grid-column: 1;
  grid-column: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 10vw auto auto auto auto auto auto;
      grid-template-rows: 10vw auto auto auto auto auto auto;
}

.main .aside-1 .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2vw;
  font-size: 1.3vw;
  line-height: 3.5vw;
  border: 0.3vw solid #000;
  margin: -0.3vw;
  background-color: #fadc59;
}

.main .aside-1 .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1vw 2vw;
  background-color: #fff;
  border: 0.3vw solid #000;
  margin: -0.3vw;
}

.main .aside-1 .form.active {
  background-color: #fadc59;
}

.main .aside-1 .form input {
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0);
  font-size: 1.2vw;
  line-height: 1.5vw;
  width: 100%;
  /* border-radius: 0.3vw; */
  color: #333;
  border: none;
  padding-left: 1vw;
}

.main .aside-1 .form .icon {
  padding-right: 2vw;
  height: 2vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.main .aside-1 .form__item-1 .icon {
  background-image: url(../images/icon/icon5.png);
}

.main .aside-1 .form__item-2 .icon {
  background-image: url(../images/icon/icon7.png);
}

.main .aside-1 .form__item-3 .icon {
  background-image: url(../images/icon/icon6.png);
}

.main .aside-1 .form__item-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15vw;
  left: 7.5vw;
  bottom: 2.5vw;
  height: 5.5vw;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2vw;
  background-image: url(../images/icon/icon8.png);
}

.main .aside-1 .form__item-5:hover {
  background-color: #fadc59;
}

.main .aside-1 .form__item-6 {
  height: 10vw;
}

.main .aside-1 .collapse-title.active {
  background-color: #fadc59;
  border: 1px solid #fadc59;
}

.main .aside-1 .collapse-content {
  display: none;
  padding: 1.3vw 2vw;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  height: 8vw;
  /* ~相同層級的元素 */
}

.main .aside-1 .collapse-content.active {
  display: -ms-grid;
  display: grid;
}

.main .aside-1 .collapse-content .drop-down-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.4vw 2vw 0.4vw 0;
}

.main .aside-1 .collapse-content .drop-down-menu .icon {
  background-image: url(../images/icon/icon9.png);
  padding-right: 1vw;
  height: 1vw;
  padding-right: 1.3vw;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

.main .aside-1 .collapse-content .drop-down-menu a {
  display: inline-block;
  font-size: 1vw;
}

.main .aside-1 .collapse-content .drop-down-menu a span {
  color: #fadc59;
  padding-right: 0.2vw;
}

.main .aside-1 .collapse-content .checkbox-item {
  /* border: 1px solid #000; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.4vw 2vw 0.4vw 0;
}

.main .aside-1 .collapse-content .checkbox-item label {
  display: inline-block;
  padding-left: 1.8vw;
  font-size: 1vw;
  /* 撐滿上一層 */
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* 使用者不能反白 */
  cursor: pointer;
  /* 游標：～ */
}

.main .aside-1 .collapse-content .checkbox-item input {
  width: 1px;
  height: 1px;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.main .aside-1 .collapse-content .checkbox-item .check {
  width: 1.2vw;
  height: 1.2vw;
  border: 3px solid #000;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  pointer-events: none;
}

.main .aside-1 .collapse-content .checkbox-item input:checked ~ .check {
  border: 3px solid #000;
}

.main .aside-1 .collapse-content .checkbox-item .check::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fadc59;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}

.main .aside-1 .collapse-content .checkbox-item input:checked ~ .check::after {
  opacity: 1;
}

.main .map {
  background-image: url(../images/product/map.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0.3vw solid #000;
  margin: -0.3vw 0;
}

.main .map .scroll--down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 6vw;
  bottom: 5vw;
  position: absolute;
}

.main .map .scroll {
  display: inline-block;
  width: 13vw;
  height: 13vw;
  position: absolute;
  background-image: url(../images/product/Group19.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: scrollrotate 5s 0s linear infinite;
          animation: scrollrotate 5s 0s linear infinite;
}

.main .map .down {
  margin: auto 0;
  width: 6vw;
  height: 6vw;
  display: inline-block;
  background-image: url(../images/product/Vector.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1.5vw;
}

.main .aside-2 {
  -ms-grid-column: 3;
  grid-column: 3;
}

@-webkit-keyframes scrollrotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes scrollrotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.popular-cafe {
  padding-top: 3vw;
  height: 100vh;
  border: 0.3vw solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popular-cafe .popular-cafe__title {
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 1vw;
}

.popular-cafe .popular-cafe__title .cafe__title h1 {
  font-size: 2vw;
}

.popular-cafe .container {
  margin: 0 auto;
  border-top: none;
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.popular-cafe .container .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: -14vw -37vw 12vw -37vw;
}

.popular-cafe .container .owl-nav span {
  display: none;
}

.popular-cafe .container .owl-nav .owl-prev {
  width: 4vw;
  height: 4vw;
  border: 0.3vw solid #000;
  border-radius: 50%;
  background-image: url(../images/icon/prev.png);
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2vw;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.popular-cafe .container .owl-nav .owl-prev:hover {
  background-color: #fadc59;
}

.popular-cafe .container .owl-nav .owl-next {
  width: 4vw;
  height: 4vw;
  border: 0.3vw solid #000;
  border-radius: 50%;
  background-image: url(../images/icon/next.png);
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2vw;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.popular-cafe .container .owl-nav .owl-next:hover {
  background-color: #fadc59;
}

.popular-cafe .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popular-cafe .owl-dots .owl-dot {
  width: 1.5vw;
  height: 1.5vw;
  border: 0.3vw solid #000;
  border-radius: 50%;
  margin: 0.5vw;
}

.popular-cafe .owl-dots .owl-dot.active {
  background-color: #000;
}

.cafe__title {
  margin: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cafe__title .icon {
  padding-right: 2vw;
  height: 2vw;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  background-image: url(../images/icon/big-1.png);
}

.cafe__title h1 {
  display: inline-block;
  padding-left: 0.5vw;
}

.cafe__btn {
  height: 3vw;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.3vw solid #000;
  margin: 1vw;
  padding: 0.5vw 1.5vw;
  position: absolute;
  right: 0;
}

.cafe__btn .icon {
  padding-right: 1.2vw;
  height: 1.2vw;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  background-image: url(../images/icon/icon7.png);
}

.cafe__btn span {
  display: inline-block;
  margin-left: 0.5vw;
  font-size: 1.2vw;
  line-height: 1.8vw;
  color: #000;
}

.product__card {
  width: 19vw;
  height: 24vw;
  border-radius: 15px;
}

.product__card:hover > .product__pic {
  padding-top: 13vw;
  margin: 0vw;
  border-radius: 10px;
  z-index: 500;
}

.product__card:hover > .product__para {
  height: 11.5vw;
  top: -1vw;
  display: -ms-grid;
  display: grid;
  padding: 2vw 1vw 0 1vw;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -ms-grid-rows: 3vw 1fr 1fr;
      grid-template-rows: 3vw 1fr 1fr;
  border-radius: 15px;
}

.product__card:hover > .product__para h2 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  display: block;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.product__card:hover > .product__para .icon-like {
  padding-right: 3vw;
  height: 3vw;
  background-image: url(../images/product/like.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.product__card:hover > .product__para .icon {
  padding-right: 2vw;
  height: 1vw;
  background-image: url(../images/product/stars.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.product__card:hover > .product__para h3 {
  display: inline-block;
  margin-left: 6.5vw;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  color: #fff;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.product__card:hover > .product__para p {
  display: block;
  -ms-grid-row: 3;
  grid-row: 3;
  font-size: 0.8vw;
}

.product__card .product__pic {
  display: block;
  margin: 0.8vw;
  border-radius: 10px 10px 0 0;
  padding-top: 15vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.product__card .product__para {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 0 10px 10px;
  height: 7vw;
  margin: 0 -0.3vw -0.3vw -0.3vw;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.product__card .product__para h2 {
  color: #fff;
  font-size: 1.2vw;
}

.product__card .product__para p,
.product__card .product__para h3 {
  color: #fff;
  display: none;
}

.product__card-1 {
  border: 0.3vw solid #e27f3d;
  border-bottom: 5vw solid #e27f3d;
}

.product__card-1 .product__pic {
  background-image: url(../images/product/product-1.JPG);
}

.product__card-1 .product__para {
  border: 0.3vw solid #e27f3d;
  background-color: #e27f3d;
}

.product__card-2 {
  border: 0.3vw solid #62bbcd;
  border-bottom: 5vw solid #62bbcd;
}

.product__card-2 .product__pic {
  background-image: url(../images/product/product-2.jpg);
}

.product__card-2 .product__para {
  border: 0.3vw solid #62bbcd;
  background-color: #62bbcd;
}

.product__card-3 {
  border: 0.3vw solid #4ea76e;
  border-bottom: 5vw solid #4ea76e;
}

.product__card-3 .product__pic {
  background-image: url(../images/product/product-3.JPG);
}

.product__card-3 .product__para {
  border: 0.3vw solid #4ea76e;
  background-color: #4ea76e;
}

.footer {
  height: 100vh;
  border: 0.3vw solid #000;
  border-top: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fadc59;
}

.footer .copyright {
  height: 5vw;
  width: 100%;
  background-color: #000;
  position: absolute;
  bottom: 0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.1rem;
}

.footer-container {
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-container .brand {
  width: 20vw;
  padding-top: 4vw;
  background-image: url(../images/logo/brand.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
}

.footer-container .footer-menu {
  margin: 0 auto;
  width: 60vw;
  height: 10vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.footer-container .footer-menu .footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-container .footer-menu .footer-item h1 {
  font-size: 2vw;
  text-align: center;
}

.footer-container .footer-menu .footer-item .icon {
  padding-right: 3vw;
  height: 2.5vw;
  margin: 1.5vw;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.footer-container .footer-menu .footer-item .icon-1 {
  background-image: url(../images/icon/big-1.png);
}

.footer-container .footer-menu .footer-item .icon-2 {
  background-image: url(../images/icon/big-2.png);
}

.footer-container .footer-menu .footer-item .icon-3 {
  background-image: url(../images/icon/big-3.png);
}

.footer-container .footer-menu .footer-item .icon-4 {
  background-image: url(../images/icon/big-4.png);
}

.footer-container .footer-menu .footer-item .icon-5 {
  background-image: url(../images/icon/big-5.png);
}

.footer-container .contact-title {
  margin-top: 3.5vw;
}

.footer-container .contact-title h1 {
  font-weight: 800;
  font-size: 2vw;
}

.footer-container .contact-menu {
  margin: 0 auto;
  width: 20vw;
  height: 6vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.footer-container .contact-menu .contact-item {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.footer-container .contact-menu .contact-item .icon {
  padding-right: 2vw;
  height: 2vw;
  margin: 1.5vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.footer-container .contact-menu .contact-item .icon-1 {
  background-image: url(../images/find/facebook.png);
}

.footer-container .contact-menu .contact-item .icon-2 {
  background-image: url(../images/find/instagram.png);
}

.footer-container .contact-menu .contact-item .icon-3 {
  background-image: url(../images/find/mail.png);
}

.footer-container .contact-menu .contact-item .icon-4 {
  background-image: url(../images/find/phone.png);
}
/*# sourceMappingURL=style.css.map */