@charset "utf-8";

/*
 * Page name
 * Copyright 2020
 * Author
 * Licensed
 */

/* -------------------------- *\
	Content
\* -------------------------- */

/**
 * Content ............ You are reading it!
 * Globel ............ Set common styles
 * Layout ............ Set grid styles
 * Component ............ Set component styles
 * Utility ............ Set come tools styles
 */

/* -------------------------- *\
	Globel
\* -------------------------- */

* {
  box-sizing: border-box;
  position: relative;
}

html,
body {
  font-family: "微軟正黑體";
  height: 3000px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

/* -------------------------- *\
	Layout
\* -------------------------- */

/* grid system */

.container {
  max-width: 1140px;
  width: 100%;
  /* border: 1px solid #000; */
  margin: 0 auto;
  padding: 0 16px;
  /* 讓左右row-16px推回來 */
}

.row {
  /* border: 1px solid blue; */
  margin: 0 -16px;
}

/* 清除float浮動用偽元素clear: both; */

.row::after {
  content: "";
  display: block;
  clear: both;
}

/* breakpoint斷點設計 */

/* lg -(768px)- md -(540px)- sm */

/* 平板 - 手機 */

.col-lg-12,
.col-lg-6,
.col-lg-4,
.col-lg-3,
.col-md-12,
.col-md-6,
.col-md-4,
.col-md-3,
.col-sm-12,
.col-sm-6,
.col-sm-4,
.col-sm-3 {
  /* border: 1px solid red; */
  float: left;
  padding: 0 16px;
}

.col-lg-12 {
  width: 100%;
}

.col-lg-6 {
  width: 50%;
}

.col-lg-4 {
  width: 33.33333333%;
}

.col-lg-3 {
  width: 25%;
}

@media screen and (max-width: 768px) {
  .col-md-12 {
    width: 100%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
}

@media screen and (max-width: 540px) {
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
}

/* -------------------------- *\
	Component
\* -------------------------- */

/* btn  */

.btn {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 24px;
  padding: 4px 16px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 4px;
}

/* 主要按鈕 */

.btn.btn-primary {
  background-color: #d5a26f;
  border: 1px solid #d5a26f;
  color: #fff;
  transition: all 0.3s;
}

.btn.btn-primary:hover {
  background-color: #b2875c;
  border: 1px solid #b2875c;
}

/* 次要按鈕 */

.btn.btn-secondary {
  border: 1px solid #d5a26f;
  color: #d5a26f;
  transition: all 0.3s;
}

.btn.btn-secondary:hover {
  background-color: #d5a26f;
  color: #fff;
}

/* 大小的設定 */

.btn.btn-lg {
  padding: 8px 32px;
}

.btn-group-center {
  /* border: 1px solid #fff; */
  text-align: center;
}

.btn-group-center .btn {
  margin-left: 12px;
  margin-right: 12px;
}

.btn-group-right {
  text-align: right;
}

.btn-group-right .btn {
  margin-left: 12px;
  margin-right: 12px;
}

@media screen and (max-width: 540px) {
  .btn-group-center {
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: column;
    width: 160px;
    margin: 0 auto;
  }
  .btn-group-center .btn {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 24px;
  }
  .btn-group-center .btn:last-child {
    margin-bottom: 0px;
  }
}

/* image-container */

.image-container {
  width: 100%;
  /* border: 1px solid #000; */
}

.image-container::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 75%;
}

.image-container .image {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* mask-dark */

.mask-dark {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
}

/* hero */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
}

@media screen and (max-width: 768px) {
  .hero {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.hero.hero-bg-white {
  background-color: #fefefe;
}

.hero.hero-bg-grey {
  background-color: #efefef;
}

/* navbar */

.navbar {
  /* border: 1px solid #000; */
  height: 64px;
  width: 100%;
  position: fixed;
  z-index: 500;
  transition: all 0.3s;
}

.navbar.active {
  background-color: rgba(0, 0, 0, 0.8);
}

/* anchor標籤為block 並設定為向上對齊 */

.navbar .brand {
  display: inline-block;
  vertical-align: top;
  /* border: 1px solid #000; */
  width: 160px;
  height: 64px;
  background-image: url("../images/common/logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* color: #fff; */
  white-space: nowrap;
  /* 文字不換行 */
  text-indent: 100%;
  /* 文字縮格 超出 隱藏 */
  overflow: hidden;
}

.navbar .nav {
  float: right;
}

.navbar .nav .nav-item {
  float: left;
  /* 文字由左至右橫排 */
}

.navbar .nav .nav-link {
  display: block;
  line-height: 24px;
  padding: 20px 16px;
  color: #fff;
  transition: color 0.3s;
}

.navbar .nav .nav-link:hover {
  color: #d5a26f;
}
/* .nav-item.active出現後 裡面的.nav-link做變化 */
.navbar .nav .nav-item.active .nav-link {
  color: #d5a26f;
}
@media screen and (max-width: 768px) {
  .navbar .nav {
    position: fixed;
    /* 以視窗定位寬高100% */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
  }
  .navbar .nav.active {
    opacity: 1;
    visibility: visible;
  }
  .navbar .nav .nav-link {
    text-align: center;
    padding: 16px;
    /* 調整點擊範圍 */
  }
  /* #popup-menu:target {
        opacity: 1;
        visibility: visible;
    } */
}

/* menu-toggle */

.navbar .menu-toggle {
  width: 48px;
  height: 48px;
  /* border: 1px solid #fff; */
  /* anchor預設inline */
  float: right;
  margin-top: 8px;
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar .menu-toggle {
    display: inline-block;
  }
}

/* apple最小點擊範圍44px */

.navbar .menu-toggle span {
  display: block;
  /* span預設inline */
  width: 32px;
  height: 2px;
  background-color: #d5a26f;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all 0.3s;
  z-index: 600;
}

.navbar .menu-toggle span:nth-child(1) {
  top: 12px;
}
.navbar .menu-toggle.active span:nth-child(1) {
  width: 40px;
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}

.navbar .menu-toggle span:nth-child(2) {
  top: 22px;
}
.navbar .menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.navbar .menu-toggle span:nth-child(3) {
  top: 32px;
}
.navbar .menu-toggle.active span:nth-child(3) {
  width: 40px;
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

/* close-btn */

.navbar .close-btn {
  width: 48px;
  height: 48px;
  /* border: 1px solid #fff; */
  /* anchor預設inline */
  position: absolute;
  right: 16px;
  top: 8px;
  display: none;
}

.navbar .close-btn span {
  display: block;
  /* span預設inline */
  width: 40px;
  height: 2px;
  background-color: #d5a26f;
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%,-50%); */
}

/* transform會覆寫，因此寫在同一行 ＊空一格 */

.navbar .close-btn span:nth-child(1) {
  transform: translate(-50%, -50%) rotate(45deg);
}

.navbar .close-btn span:nth-child(2) {
  transform: translate(-50%, -50%) rotate(-45deg);
}

@media screen and (max-width: 768px) {
  .navbar .close-btn {
    display: inline-block;
  }
}

/* jumbotron */

.jumbotron {
  /* border: 1px solid #000; */
  padding-top: 224px;
  padding-bottom: 160px;
  /* background-color: pink; */
  background-image: url(../images/bg/bg001.jpg);
  background-size: cover;
  background-attachment: fixed;
  /* 依視窗做cover 視差滾動*/
}

@media screen and (max-width: 768px) {
  .jumbotron {
    padding-top: 144px;
    padding-bottom: 120px;
  }
}
.jumbotron .mask-dark {
  background-color: rgba(0, 0, 0, 0.5);
}
.jumbotron.jumbotron-pic .mask-dark {
  background-color: rgba(0, 0, 0, 0.7);
}
.jumbotron .logo-image {
  background-image: url("../images/common/logo-w.png");
  width: 320px;
  height: 320px;
  /* border: 1px solid #000; */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .jumbotron .logo-image {
    width: 200px;
    height: 200px;
  }
}

/* .jumbotron .btn-group-center{
    margin: 15px;
} */

/* about-preview */

@media screen and (max-width: 768px) {
  .about-preview {
    margin-bottom: 48px;
  }
}

.about-preview .title {
  font-size: 32px;
  color: #333;
  margin-bottom: 24px;
  margin-top: 80px;
}

@media screen and (max-width: 960px) {
  .about-preview .title {
    margin-top: 0px;
  }
}

.about-preview .para {
  font-size: 16px;
  line-height: 32px;
  text-align: justify;
  /* 對其 */
  color: #333;
  margin-bottom: 24px;
}

/* section-intro */

.section-intro {
  text-align: center;
  margin-bottom: 40px;
}

.section-intro .title {
  font-size: 48px;
  color: #333;
  margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .section-intro .title {
    font-size: 32px;
  }
}

.section-intro .para {
  max-width: 500px;
  font-size: 16px;
  line-height: 32px;
  color: #333;
  margin: 0 auto;
}

/* service-item */

/* .service-item{
} */

@media screen and (max-width: 768px) {
  .service-item {
    margin-bottom: 48px;
  }
  /* 屬性選擇器 */
  /* 寫法：屬性開頭^是="" */
  [class^="col-"]:last-child .service-item {
    margin-bottom: 0px;
  }
}

.service-item .preview {
  padding-top: 16px;
}

.service-item .title {
  font-size: 24px;
  color: #333;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* 單行超出去就變刪節號 */
}

.service-item .subtitle {
  font-size: 14px;
  color: #d5a26f;
  margin-bottom: 16px;
}

.service-item .para {
  font-size: 14px;
  color: #333;
  line-height: 24px;
  margin-bottom: 24px;
  text-align: justify;
  height: 72px;
  overflow: hidden;
}

/* reservation */

.reservation {
  background-image: url(../images/bg/bg002.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  /* 照視窗覆蓋 視差滾動 */
}

.reservation .section-intro .title,
.reservation .section-intro .para {
  color: #fff;
  /* max-width: 500px;
    margin: 0 auto; */
}

/* .menu-list */

.menu-list {
  margin-bottom: 64px;
}

/* 新選擇器：last-child全部當中最後一個first反之 */

.menu-list:last-child {
  margin-bottom: 0%;
}

.menu-list .title-bar {
  margin-bottom: 24px;
}

.menu-list .title-bar::after {
  content: "";
  display: block;
  clear: both;
}

/* 清除浮動在float上層寫偽元素 */

.menu-list .title-bar .title {
  font-size: 24px;
  line-height: 40px;
  color: #d5a26f;
  float: left;
  /* 讓btn同行 */
  padding-left: 16px;
}

.menu-list .title-bar .title::before {
  content: "";
  display: inline-block;
  height: 30px;
  width: 4px;
  background-color: #d5a26f;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.menu-list .title-bar .btn {
  float: right;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* @media screen and (max-width:768px) {
    .menu-list .list-item {
        margin-bottom: 48px;
    }
} */

.menu-list .list-item .image-container {
  width: 100%;
}

.menu-list .list-item .image-container::before {
  content: "";
  width: 100%;
  padding-top: 100%;
}

.menu-list .list-item .title {
  font-size: 18px;
  color: #333;
  line-height: 24px;
  margin-bottom: 8px;
  margin-top: 16px;
}

.menu-list .list-item .subtitle {
  font-size: 14px;
  color: #d5a26f;
}

/* slider olugin setting */
.owl-theme .owl-dots {
  /* border: 1px solid #000; */
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
@media (max-width: 768px) {
  .owl-theme .owl-dots {
    margin-bottom: 24px;
  }
}
.owl-theme .owl-dots button.owl-dot {
  /* border: 1px solid #000; */
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 4px;
  background-color: #ccc;
  outline: none;
}
.owl-theme .owl-dots button.owl-dot.active {
  background-color: #d5a26f;
}
.owl-theme .owl-nav {
  /* border: 1px solid #000; */
  position: absolute;
  left: 0;
  top: calc((100% - 106px) / 2);
  width: 100%;
}
.owl-theme .owl-nav button.owl-prev,
.owl-theme .owl-nav button.owl-next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d5a26f;
  outline: none;
  color: #fff;
  box-shadow: 0 3px 16px rgba(0, 0, 0, 0.5);
  position: absolute;
  transform: translate(0, -50%);
  opacity: 0.5;
  transition: all 0.3s;
  /* white-space: nowrap;
    text-indent: 100%;
    overflow: hidden; */
}
@media (max-width: 768px) {
  .owl-theme .owl-nav button.owl-prev,
  .owl-theme .owl-nav button.owl-next {
    opacity: 1;
  }
}
/* hover前面，後面會改變 */
.owl-theme:hover .owl-nav button.owl-prev,
.owl-theme:hover .owl-nav button.owl-next {
  opacity: 1;
}
/* .owl-theme .owl-nav button span{
    display: none;
} */
.owl-theme .owl-nav button.owl-prev {
  left: -16px;
}
.owl-theme .owl-nav button.owl-next {
  right: -16px;
}

/* contact-info */
.contact-info {
  padding-top: 40px;
}

.contact-info .info-item {
  margin-bottom: 24px;
}

.contact-info .info-item .title {
  color: #d5a26f;
  line-height: 36px;
  margin-bottom: 16px;
}

.contact-info .info-item .title span {
  border-bottom: 2px solid #d5a26f;
  display: inline-block;
  /* 顯示行高 */
}

.contact-info .info-item .info {
  color: #333;
  line-height: 36px;
}

/* map-container */

.map-container {
  width: 100%;
  padding-top: 75%;
  /* border: 1px solid #000; */
}

/* 固定比例 */

.map-container iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* footer */

.footer {
  background-image: url(../images/bg/bg003.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* 滾動視差 */
}

.footer .brand {
  display: block;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  background-image: url("../images/common/logo-w.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media screen and (max-width: 540px) {
  .footer .brand {
    width: 200px;
    height: 200px;
  }
}

.footer .nav {
  /* border: 1px solid#fff; */
  display: flex;
  /* 自動變一行 */
  justify-content: center;
}

.footer .nav .nav-link {
  /* border: 1px solid#fff; */
  color: #fff;
  display: block;
  padding: 24px;
  line-height: 24px;
  transition: all 0.3s;
}

.footer .nav .nav-link:hover {
  color: #d5a26f;
}

@media screen and (max-width: 768px) {
  .footer .nav .nav-link {
    padding: 24px 8px;
  }
}

.footer .copyright {
  background-color: rgba(0, 0, 0, 0.8);
  color: #ccc;
  text-align: center;
  line-height: 24px;
  padding: 16px 0;
  font-size: 14px;
}

/* parallax */
.rellax {
  position: absolute;
}
@media (max-width: 1024px) {
  .rellax {
    display: none;
  }
}
.parallax-1 {
  width: 30%;
  right: 0;
  top: -20%;
}
.parallax-2 {
  width: 20%;
  left: 0;
  top: -20%;
}
.parallax-3 {
  width: 20%;
  right: 0;
  top: -25%;
}
.parallax-4 {
  width: 30%;
  left: 0;
  top: 0%;
}
.parallax-5 {
  width: 20%;
  right: 0;
  top: -15%;
}
.parallax-6 {
  width: 20%;
  left: 0;
  top: 0%;
}
.parallax-7 {
  width: 20%;
  right: 0;
  bottom: 0;
}

/* evaluation page */
/* page title */
.page-title {
  padding-top: 300px;
  padding-bottom: 200px;
  background-image: url(../images/bg/bg001.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* 依視窗做cover 視差滾動*/
}
.page-title .section-intro {
  margin-bottom: 0;
}
.page-title .section-intro .title,
.page-title .section-intro .para {
  color: #fefefe;
}
/* masonry */
.masonry-row {
  margin-right: -16px;
  margin-left: -16px;
}
.masonry-col {
  width: 33.33333%;
  padding: 0 16px;
}
@media (max-width: 768px) {
  .masonry-col {
    width: 50%;
    padding: 0 8px;
  }
}
@media (max-width: 540px) {
  .masonry-col {
    width: 100%;
  }
}
/* evaluation card */
.eval-card {
  padding: 16px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 32px;
  width: 100%;
  border-radius: 25px;
}
.eval-card .image {
  display: inline-block;
  width: 100%;
  margin-bottom: 16px;
  border-radius: 20px;
}
.eval-card .para {
  font-size: 16;
  line-height: 32px;
}
/* -------------------------- *\
	Utility
\* -------------------------- */

.lg-hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .lg-hidden {
    display: block;
  }
  .lg-display {
    display: none;
  }
}

/* [class='btn']{}
=
.btn{} */
