@charset "UTF-8";
/*
 * Page name
 * Copyright 2020
 * Author
 * Licensed
 */
/* -------------------------- *\
	Content
\* -------------------------- */
/**
 * Content ............ You are reading it!
 * Globel ............ Set common styles
 * Layout ............ Set grid styles
 * Component ............ Set component styles
 * Utility ............ Set come tools styles
 */
/* -------------------------- *\
	Globel
\* -------------------------- */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  /* -------------------------- *\
	Layout
\* -------------------------- */
  /* grid system */
}

* html,
* body {
  font-family: "Noto Sans TC", sans-serif, "微軟正黑體";
  height: 100vh;
  width: 100vw;
}

* h1,
* h2,
* h3,
* h4,
* h5,
* h6,
* p {
  margin: 0;
}

* ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

* a {
  text-decoration: none;
  color: #333;
}

* [draggable="true"] {
  /*
     To prevent user selecting inside the drag source
    */
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

* ::-moz-selection {
  background: #ff6d01;
  color: #fff;
}

* ::selection {
  background: #ff6d01;
  color: #fff;
}

* .container {
  max-width: 1140px;
  width: 100%;
  /* border: 1px solid #000; */
  margin: 0 auto;
  padding: 0 16px;
  /* 讓左右row-16px推回來 */
}

* .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

* .navbar {
  position: fixed;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7fr 5fr;
      grid-template-columns: 7fr 5fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  width: 100%;
  height: auto;
  padding: 1vw 10vw;
  top: 0;
  background-color: 0 0 !important;
  z-index: 2000;
  -webkit-backdrop-filter: blur(40px) !important;
          backdrop-filter: blur(40px) !important;
}

* .nav__item {
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

* .nav__item--2 {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
}

* .nav__item--3 {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
}

* .nav__item h1 {
  font-size: 1.5vw;
}

* .info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7fr 5fr;
      grid-template-columns: 7fr 5fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  width: 80vw;
  height: auto;
  padding: 0vw 3vw 0 3vw;
  position: absolute;
  top: 10vw;
  -ms-grid-column-align: center;
      justify-self: center;
}

* .info__para h1 {
  font-size: 4vw;
  font-family: "Alfa Slab One", cursive;
  letter-spacing: 0.1vw;
}

* .info__para p {
  margin-top: 3vw;
  font-size: 1.5vw;
  line-height: 3vw;
  font-weight: 500;
}

* .info__pic {
  height: 30vw;
  width: 25vw;
  border-radius: 50% / 50%;
  background-image: url("/images/face/HKT.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -ms-grid-column-align: center;
      justify-self: center;
}

* .info__pic.active {
  background-image: url("/images/face/non-face.png");
}

* .info__pic.active .click-me {
  background-image: url("/images/move.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 8vw;
  height: 8vw;
  display: inline-block;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

* .info__pic.active #draggable6 {
  cursor: move;
  background-image: url("/images/face/eye--left.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 2.2vw;
  height: 2.2vw;
  display: inline-block;
  position: absolute;
  left: 53%;
  top: 39%;
}

* .info__pic.active #draggable7 {
  cursor: move;
  background-image: url("/images/face/eye--right.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.9vw;
  height: 1.9vw;
  display: inline-block;
  position: absolute;
  left: 40%;
  top: 32%;
}

* .info__pic.active #draggable8 {
  cursor: move;
  background-image: url("/images/face/nose.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 3.3vw;
  height: 3.3vw;
  display: inline-block;
  position: absolute;
  left: 42%;
  top: 39%;
}

* .info__pic.active #draggable9 {
  cursor: move;
  background-image: url("/images/face/mouth.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 2.5vw;
  height: 2.5vw;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 33%;
}

* .info__pic .click-me {
  background-image: url("/images/click.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 9vw;
  height: 9vw;
  display: inline-block;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

* .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

* .about .ui-widget-content {
  background: none;
  border: none;
}

* #draggable {
  cursor: move;
  background-image: url("/images/pic1.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 8vw;
  height: 8vw;
  display: inline-block;
  position: absolute;
  left: 46vw;
  top: 13vw;
  -webkit-animation: flowerShake 2s 1s both;
          animation: flowerShake 2s 1s both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

* #draggable:hover {
  -webkit-animation: move 0.2s 0s both;
          animation: move 0.2s 0s both;
}

@-webkit-keyframes flowerShake {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes flowerShake {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translate(0.5vw, 0);
            transform: translate(0.5vw, 0);
  }
  100% {
    -webkit-transform: translate(0vw, 0);
            transform: translate(0vw, 0);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translate(0.5vw, 0);
            transform: translate(0.5vw, 0);
  }
  100% {
    -webkit-transform: translate(0vw, 0);
            transform: translate(0vw, 0);
  }
}

* #draggable1 {
  cursor: move;
  background-image: url("/images/pic2.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 10vw;
  height: 10vw;
  display: inline-block;
  position: absolute;
  left: 7vw;
  top: 23vw;
}

* #draggable2 {
  cursor: move;
  background-image: url("/images/pic3.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 10vw;
  height: 10vw;
  display: inline-block;
  display: inline-block;
  position: absolute;
  left: 55vw;
  top: 24vw;
}

* #draggable3 {
  cursor: move;
  background-image: url("/images/pic4.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 10vw;
  height: 10vw;
  display: inline-block;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  position: absolute;
  left: 5vw;
  top: 39vw;
}

* #draggable4 {
  cursor: move;
  background-image: url("/images/pic5.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 13vw;
  height: 13vw;
  display: inline-block;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  position: absolute;
  left: 77vw;
  top: 9vw;
}

* #draggable5 {
  cursor: move;
  background-image: url("/images/pic6.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 7vw;
  height: 7vw;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  display: inline-block;
  position: absolute;
  left: 35vw;
  top: 35vw;
}

* .scroll {
  background-image: url("/images/scroll.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 5vw;
  padding-top: 15vw;
  display: inline-block;
  position: absolute;
  left: 85vw;
  top: 35vw;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.main {
  width: 100vw;
  padding-top: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: -11.5vw;
  margin: 0vw auto;
  width: 28vw;
}

.main .owl-nav .owl-prev,
.main .owl-nav .owl-next {
  width: 3vw;
  height: 3vw;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: contain !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main .owl-nav .owl-prev span,
.main .owl-nav .owl-next span {
  display: none;
}

.main .owl-nav .owl-prev {
  background-image: url("/images/prev.png") !important;
}

.main .owl-nav .owl-prev:hover {
  background-image: url("/images/prev-1.png") !important;
}

.main .owl-nav .owl-next {
  background-image: url("/images/next.png") !important;
}

.main .owl-nav .owl-next:hover {
  background-image: url("/images/next-2.png") !important;
}

.main .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -1vw;
}

.main .owl-dots .owl-dot {
  width: 1.2vw;
  height: 1.2vw;
  border: 0.2vw solid #000;
  margin: 0 0.3vw;
  border-radius: 50%;
}

.main .owl-dots .owl-dot.active {
  background-color: #000;
}

.main .work__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 68vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 2vw;
  font-family: "Alfa Slab One", cursive;
}

.main .work__nav .work__nav__title {
  font-size: 2vw;
  letter-spacing: 0.1vw;
  color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main .work__nav .work__nav__title:hover {
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.main .work__nav .work__nav__title.active {
  color: #ff6d01;
}

.main .work__nav .work__nav__title.active:hover {
  color: #ff6d01;
  text-shadow: 0 0 0px rgba(0, 0, 0, 0);
}

.main .work__nav span {
  display: inline-block;
  font-size: 3vw;
  top: 0.5vw;
}

.main .work--container {
  padding-top: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  height: 30vw;
  background-color: #ff6d01;
  display: none;
}

.main .work--container.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .work {
  width: 20vw;
  height: 20vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0 2vw;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.main .work:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.main .work:hover > .work--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  display: block;
}

.main .work .work--back {
  display: none;
  width: 20vw;
  height: 20vw;
  background-color: #fff;
  border: 0.4vw solid #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main .work .work--back .work__para {
  margin: 1vw auto;
  width: 17vw;
  height: 17vw;
}

.main .work .work--back .work__para h1 {
  color: #ff6d01;
  font-size: 2vw;
}

.main .work .work--back .work__para p {
  margin-top: 1vw;
  font-size: 1vw;
  line-height: 2vw;
  letter-spacing: 0.1vw;
}

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

footer {
  margin-top: 10vw;
  width: 100vw;
  height: 10vw;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7fr 2.5fr 2.5fr;
      grid-template-columns: 7fr 2.5fr 2.5fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  width: 100%;
  height: auto;
  padding: 0 10vw;
  margin: auto 0;
}

footer h1 {
  color: #fff;
  font-size: 3vw;
  letter-spacing: 0.1vw;
}

footer a {
  color: #fff;
  font-size: 1vw;
}

footer a:hover {
  color: #ff6d01;
}

footer i {
  font-size: 2.5vw;
  color: #ff6d01;
  top: 0.5vw;
  margin-right: 1vw;
}
/*# sourceMappingURL=style.css.map */