.mainContnet {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	white-space: nowrap;
	padding-top: 100px;
}
.mainContnet > h2.title {
	font-size: 40px;
	font-weight: bolder;
	margin-bottom: 40px;
}
.mainContnet > .infoBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	gap: 20px;
}
.mainContnet > .infoBox .text {
	text-align: center;
	font-size: 20px;
	font-weight: normal;
	line-height: 1.5;
}
.mainContnet > .infoBox .text strong {
	border-bottom: solid #fff;
	font-weight: bolder;
}
@media screen and (max-width: 768px) {
	.mainContnet > h2.title {
		font-size: 36px;
		margin-bottom: 30px;
	}
	.mainContnet > .infoBox .text {
		font-size: 18px;
	}
}
@media screen and (max-width: 450px) {
	.mainContnet {
		width: 100%;
		overflow: hidden;
	}
	.mainContnet > h2.title {
		font-size: 25px;
	}
	.mainContnet > .infoBox .text {
		font-size: 14px;
	}
}

#content {
	width: 85%;
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 100px 0;
	justify-content: flex-start;
	gap: 3.5%;
}
#content .card {
	display: block;
	width: 31%;
	opacity: 1;
	display: flex;
	flex-direction: column;
	margin-bottom: 2%;
	transition: opacity 1s;
	animation-name: loading;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-duration: 0.6s;
}
@keyframes loading {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
#content .category {
	width: 100%;
	font-size: 35px;
	display: flex;
	flex-wrap: nowrap;
	white-space: nowrap;
	gap: 30px;
	color: #fff;
	align-items: center;
	padding-top: 10px;
	margin-bottom: 30px;
	font-weight: bolder;
}
#content .category .englishName {
	font-size: 30px;
}
#content .category .line {
	width: 100%;
	height: 2px;
	background-color: #fff;
}
#content .title {
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: 22px;
	font-weight: bolder;
	color: #fff;
	padding: 10px 0;
	white-space: nowrap;
	align-items: baseline;
	overflow: hidden;
	text-overflow: ellipsis;
}
#content .title .titleEng {
	font-size: 16px;
	font-weight: bold;
}
#content .card .imageContainer.changeTo75 {
	width: 100%;
	box-shadow: 0px 0px 0 0 #fff;
	top: 0;
	left: 0;
	border-radius: 30px;
	overflow: hidden;
	transition: all, 0.3s;
}
#content a:hover .card .imageContainer.changeTo75 {
	width: 98%;
	top: -10px;
	left: -10px;
	box-shadow: 10px 10px 0 0 #fff;
}
#content .card .imageContainer.changeTo75::before {
	padding-top: 75%;
}
#content .card .category {
	font-size: 16px;
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	gap: 5px;
	padding-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 5px;
}
#content .card .category .text {
	display: flex;
}
#content .card .category .text::after {
	display: block;
	content: '、';
}
#content .card .category .text:last-child::after {
	display: none;
}
#content .card .mail {
	color: #fff;
	cursor: pointer;
}
@media screen and (max-width: 768px) {
	#content {
		padding-top: 80px;
	}
	#content .card {
		width: 48%;
		margin-bottom: 3%;
	}
	#content .card .imageContainer.changeTo75 {
		border-radius: 10px;
	}
	#content .card {
		gap: 0px;
	}
	#content .category {
		font-size: 16px;
	}
	#content .category .englishName {
		font-size: 14px;
	}
	#content .title {
		font-size: 14px;
		padding: 0;
		padding: 5px 0;
	}
	#content .card .category,
	#content .card .mail {
		width: 100%;
		font-size: 14px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	#content .title .titleEng {
		font-size: 12px;
	}
}

.clipBox {
	position: fixed;
	z-index: 999;
	top: 20px;
	left: 50%;
	transform: translate(-50%, 0%);
	padding: 15px 25px;
	background-color: white;
	color: #0032be;
	display: flex;
	gap: 5px;
	border-radius: 10px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	font-weight: bold;
	animation-name: clipBox;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	animation-duration: 2.5s;
}

@media screen and (max-width: 768px) {
	.clipBox {
		flex-direction: column;
		align-items: center;
	}
}

@keyframes clipBox {
	0% {
		transform: translate(-50%, -150%);
	}
	40% {
		transform: translate(-50%, 0%);
	}
	70% {
		opacity: 1;
		transform: translate(-50%, 0%);
	}
	100% {
		opacity: 0;
		transform: translate(-50%, -150%);
	}
}
