/* ------------ *\
    layout 
\* ------------ */

section {
	height: 100vh;
}

/* ------------ *\
    Utility 
\* ------------ */

/* ------------ *\
    component
\* ------------ */
#banner {
	width: 100%;
	height: 100vh;
}
#banner .slowgon {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	line-height: 1.5;
	font-weight: 900;
	color: #fff;
	height: 60vh;
	white-space: nowrap;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#banner .slowgon .top {
	font-size: 24px;
}
#banner .slowgon .bottom {
	font-size: 18px;
}
@media screen and (max-width: 768px) {
	#banner .slowgon {
		height: 40vh;
	}
	#banner .slowgon .top,
	#banner .slowgon .bottom {
		font-size: 14px;
	}
}

#banner .slowgon .logo {
	max-width: 600px;
	min-width: 250px;
	width: 50vw;
}

#decorate {
	width: 100%;
	height: 100%;
}
#decorate .box {
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100vh;
	opacity: 1;
}
#banner #decorate .box.right {
	bottom: 2%;
}
#decorate .box .left {
	width: 100%;
	height: 100%;
	left: -40%;
}
#decorate .box .right {
	width: 100%;
	height: 100%;
	right: -60%;
}

#decorate .box img {
	width: 70%;
	min-width: 400px;
	max-width: 1000px;
	position: absolute;
}
#decorate .box img.decorate1 {
	top: 0;
	left: 15%;
}
#decorate .box img.decorate2 {
	top: 15%;
	left: 30%;
}
#decorate .box img.decorate3 {
	bottom: 0%;
	left: 0%;
}
#decorate .box img.decorate4 {
	width: 50%;
	min-width: 300px;
	max-width: 730px;
	bottom: 0%;
	left: 5%;
}

.section1 {
	height: 200vh;
	/* border: 1px solid #000; */
}
.section1 .imageBox {
	width: 100%;
	height: 100%;
}
.section1 .imageBox .image {
	position: absolute;
	opacity: 0;
}
.section1 .imageBox .image.image04 {
	width: 46%;
	left: 5%;
	bottom: 19%;
}
.section1 .imageBox .image.image03 {
	width: 57%;
	left: 22%;
	bottom: 3%;
}
.section1 .imageBox .image.image02 {
	width: 45%;
	right: 5%;
	bottom: 14%;
}
.section1 .imageBox .image.image01 {
	width: 36%;
	right: 17%;
	bottom: 57%;
}
@media screen and (max-width: 768px) {
	.section1 {
		height: 150vh;
	}
}
@media screen and (max-width: 450px) {
	.section1 {
		height: 150vh;
	}
	.section1 .imageBox .image.image04 {
		width: 60%;
		left: 0%;
		bottom: 19%;
	}
	.section1 .imageBox .image.image03 {
		width: 70%;
		left: 22%;
		bottom: 3%;
	}
	.section1 .imageBox .image.image02 {
		width: 60%;
		right: 0%;
		bottom: 14%;
	}
	.section1 .imageBox .image.image01 {
		width: 50%;
		right: 20%;
		bottom: 57%;
	}
}

.section2 {
	width: 100%;
	height: 200vh;
}
.section2 .part1 {
	width: 100%;
	height: 100vh;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	padding: 0 30px;
}

.section2 .imageContainerInner.image1 {
	background-image: url(../img/section2/left.png);
	border-radius: 30px;
}
.section2 .imageContainerInner.image2 {
	background-image: url(../img/section2/right.png);
	border-radius: 30px;
}
.section2 .contentBox {
	flex: 1;
	display: flex;
	margin-bottom: 30px;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}
.section2 .contentBox .content {
	white-space: nowrap;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	line-height: 1.5;
	margin-bottom: 30px;
}
.section2 .contentBox .contentBtn {
	display: flex;
	justify-content: space-between;
	width: 90%;
	overflow: hidden;
	border-radius: 100px;
}
.section2 .contentBox .contentBtn > .changeBtn {
	width: 100%;
	font-size: 28px;
	font-weight: 900;
	text-align: center;
	line-height: 1;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	z-index: -1;
	opacity: 0;
	transition: opacity 0.5s;
	transition-timing-function: ease-in-out;
}
.section2 .contentBox .contentBtn > .changeBtn.active {
	opacity: 1;
	z-index: 0;
}
.changeBtn .whiteBlock,
.changeBtn .pinkBlock {
	min-width: 80px;
	padding: 20px 15px;
}
.whiteBlock {
	width: 10%;
	background: #fff;
}
.pinkBlock {
	width: 90%;
	text-align: left;
	background: #ff0082;
	color: #fff;
}
.section2 .contentBox .contentBtn .leftBtn,
.section2 .contentBox .contentBtn .rightBtn {
	background: #fff;
	width: 49%;
	white-space: nowrap;
	font-size: 28px;
	font-weight: 900;
	text-align: center;
	color: #0032be;
	line-height: 1;
	padding: 20px 0;
	opacity: 1;
	transition: opacity 0.5s;
	transition-timing-function: ease-in-out;
	cursor: pointer;
	z-index: 0;
}
.section2 .contentBox .contentBtn .leftBtn.active,
.section2 .contentBox .contentBtn .rightBtn.active {
	opacity: 0;
	z-index: -1;
}

.section2 .controlImage {
	display: none;
}

@media screen and (max-width: 1400px) {
	.section2 .row {
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.section2 .col {
		flex: none;
		width: 40%;
		justify-content: space-around;
	}
	.section2 .contentBox {
		flex: none;
		margin-top: 30px;
		width: 100%;
		order: 2;
	}
	.section2 .contentBox .contentBtn {
		width: 60%;
	}
}

@media screen and (max-width: 500px) {
	.section2 .col {
		display: none;
	}
	.section2 .controlImage {
		display: block;
		width: 90%;
	}
	.section2 .controlImage #mySlider {
		width: 100%;
		height: 100%;
	}
	.section2 .controlImage #mySlider .slider-container {
		width: 100%;
		height: 100%;
	}
	.section2 .controlImage #mySlider .before-img {
		z-index: 1;
	}
	.section2 .controlImage #mySlider .slider-btn {
		z-index: 2;
	}
	.section2 .contentBox {
		flex: none;
		margin-top: 30px;
		width: 100%;
		order: 2;
	}
	.section2 .contentBox .contentBtn {
		width: 70%;
	}
}

@media screen and (max-width: 375px) {
	.section2 .contentBox .content {
		white-space: normal;
	}
}

.section3 {
	width: 100%;
	height: 600vh;
	/* border: 1px solid #000; */
}
@media screen and (max-width: 768px) {
	.section3 {
		height: 800vh;
	}
}
.section3 .background {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	opacity: 0.6;
}
.section3 #decorate .box {
	height: 55vh;
}
.section3 #decorate .box .left {
	left: -30%;
}
.section3 #decorate .box .right {
	right: -70%;
}
.section3 #decorate .box img {
	width: 40%;
	min-width: 400px;
	max-width: 600px;
	position: absolute;
}
.section3 #decorate .box.right {
	bottom: 0%;
}

.section3 .part {
	position: absolute;
	width: 100%;
}
.section3 .part .box {
	width: 100%;
	height: 100vh;
	display: flex;
	overflow: hidden;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* border: 1px solid #000; */
}
.section3 .box .content {
	width: 80%;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	text-align: center;
	color: #fff;
	line-height: 1.5;
	margin-bottom: 30px;
}
.section3 .box .content .title {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 20px;
}
.section3 .box .content .text {
	font-size: 20px;
}
@media screen and (max-width: 768px) {
	.section3 .box .content .title {
		font-size: 25px;
	}
	.section3 .box .content .text {
		font-size: 16px;
	}
}
.section3 .part1 {
	top: -30vh;
	height: 300vh;
}
.section3 .part1 .box .content {
	transform: scale(1.5);
}
.section3 .part1 .sliderBox {
	width: 100%;
}
.section3 .part1 .sliderBox .sliderRow {
	left: 100%;
	white-space: nowrap;
}
.section3 .part1 .sliderBox .sliderRow .column {
	width: 22%;
	display: inline-block;
	margin-left: 1%;
	border-radius: 10px;
	overflow: hidden;
	max-width: 280px;
}
.section3 .part1 .sliderBox .sliderRow .imageContainer::before {
	padding-top: 186.6667%;
}
.section3 .part1 .sliderBox .sliderRow .column img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
}

@media screen and (max-width: 768px) {
	.section3 .part1 {
		height: 500vh;
	}
	.section3 .part1 .sliderBox .sliderRow {
		white-space: nowrap;
	}
	.section3 .part1 .sliderBox .sliderRow .column {
		width: 33%;
	}
}
.section3 .part2 {
	top: 300vh;
	height: 300vh;
}
.section3 .part2 .box {
	overflow: hidden;
}
.section3 .part2 .aniBox {
	width: 100%;
}
.section3 .part2 .aniBox .aniRow {
	width: 50%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.section3 .part2 .aniBox .column {
	width: 26%;
	padding: 4%;
}
.section3 .part2 .aniBox .column .imageContainer {
	border-radius: 50%;
	overflow: hidden;
	opacity: 0;
}
.section3 .part2 .aniBox img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.section3 .part2 .aniBox .info {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0;

	transition: opacity 0.5s;
}
.section3 .part2 .aniBox .info a,
.section3 .part2 .aniBox .info .name {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	white-space: nowrap;
}
.section3 .part2 .aniBox .info a {
	border-bottom: #fff 1px solid;
	margin-bottom: 10px;
}
.section3 .part2 .aniBox .imageContainer:hover .imageContainerInner .info {
	opacity: 1;
}
.section3 .part2 .aniBox .imageContainer:hover {
	box-shadow: 0 0 10px #0000004b;
}
.section3 .part2 .column > .link {
	display: none;
}

@media screen and (max-width: 1550px) {
	.section3 .part2 .aniBox .aniRow {
		width: 70%;
	}
	.section3 .part2 .aniBox .column {
		width: 26%;
		padding: 2%;
	}
}
@media screen and (max-width: 768px) {
	.section3 .part2 {
		top: 500vh;
	}
	.section3 .part2 .aniBox .aniRow {
		width: 70%;
		justify-content: space-around;
	}

	.section3 .part2 .aniBox .info a,
	.section3 .part2 .aniBox .info .name {
		font-size: 14px;
		pointer-events: none;
		text-align: center;
	}
	.section3 .part2 .column > .link {
		display: block;
		width: 30px;
		height: 30px;
		position: absolute;
		bottom: 50%;
		right: 50%;
		transform: translate(50%, 50%);
		transition: all 0.3s;
		opacity: 0;
		z-index: -1;
	}
	.section3 .part2 .column.active > .link {
		bottom: 0;
		right: 0;
		opacity: 1;
		z-index: 1;
	}
	.section3 .part2 .aniBox .column.active .imageContainerInner .info {
		opacity: 1;
	}
	.section3 .part2 .aniBox .imageContainer {
		pointer-events: none;
	}
}
@media screen and (max-width: 450px) {
	.section3 .part2 .aniBox .column {
		width: 40%;
		padding: 0%;
		margin-bottom: 5%;
		border-radius: 50%;
	}
	.section3 .part2 .aniBox .aniRow {
		width: 80%;
	}
}

.img1 {
	transform: translateX(-300%) rotate(720deg);
}
.img2 {
	transform: translateY(-300%) rotate(360deg);
}
.img3 {
	transform: translateX(250%) rotate(-540deg);
}
.img4 {
	transform: translateX(-300%) rotate(540deg);
}
.img5 {
	transform: translateY(250%) rotate(540deg);
}
.img6 {
	transform: translateX(300%) rotate(720deg);
}
