/* ------------ *\
    layout 
\* ------------ */

section {
	height: 100vh;
}

/* ------------ *\
    Utility 
\* ------------ */

/* ------------ *\
    component
\* ------------ */
#banner {
	width: 100%;
	height: 100vh;
}
.vedio {
	width: 100%;
	height: 100%;
}
#banner .slowgon {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	line-height: 1.5;
	font-weight: 900;
	color: #fff;
	height: 60vh;
	white-space: nowrap;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#banner .slowgon .top {
	font-size: 24px;
}
#banner .slowgon .bottom {
	font-size: 18px;
}
#banner .slowgon .logo {
	max-width: 600px;
	min-width: 300px;
	width: 50vw;
}

#decorate {
	width: 100%;
	height: 100%;
}
#decorate .box {
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100vh;
	top: -2%;
	opacity: 1;
}
#decorate .box .left {
	width: 100%;
	height: 100vh;
	left: -40%;
}
#decorate .box .right {
	width: 100%;
	height: 100vh;
	top: -2%;
	right: -60%;
}

#decorate .box img {
	opacity: 0.9;
	width: 70%;
	min-width: 800px;
	max-width: 1000px;
	position: absolute;
}
#decorate .box img.decorate1 {
	top: 0;
	left: 15%;
}
#decorate .box img.decorate2 {
	top: 15%;
	left: 30%;
}
#decorate .box img.decorate3 {
	bottom: 0%;
	left: 0%;
}
#decorate .box img.decorate4 {
	width: 50%;
	min-width: 580px;
	max-width: 730px;
	bottom: 0%;
	left: 5%;
}

.section1 {
	height: 250vh;
}
.section1 .imageBox {
	width: 100%;
	height: 100%;
}
.section1 .imageBox .image {
	position: absolute;
	opacity: 0;
}
.section1 .imageBox .image.image04 {
	width: 46%;
	left: 5%;
	bottom: 19%;
}
.section1 .imageBox .image.image03 {
	width: 57%;
	left: 22%;
	bottom: 3%;
}
.section1 .imageBox .image.image02 {
	width: 45%;
	right: 5%;
	bottom: 14%;
}
.section1 .imageBox .image.image01 {
	width: 36%;
	right: 17%;
	bottom: 57%;
}
@media screen and (max-width: 1024px) {
	.section1 {
		height: 200vh;
	}
}
@media screen and (max-width: 768px) {
	.section1 {
		height: 150vh;
	}
}

.section2 {
	width: 100%;
	height: 150vh;
}
.section2 .part1 {
	width: 100%;
	height: 100vh;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	padding: 0 30px;
}

.section2 .imageContainerInner.image1 {
	background-image: url(../img/section2/left.png);
	border-radius: 30px;
}
.section2 .imageContainerInner.image2 {
	background-image: url(../img/section2/right.png);
	border-radius: 30px;
}
.section2 .contentBox {
	flex: 1;
	display: flex;
	margin-bottom: 30px;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}
.section2 .contentBox .content {
	white-space: nowrap;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	line-height: 1.5;
	margin-bottom: 30px;
}
.section2 .contentBox .contentBtn {
	display: flex;
	justify-content: space-between;
	width: 90%;
	overflow: hidden;
	border-radius: 100px;
}
.section2 .contentBox .contentBtn > .changeBtn {
	width: 100%;
	font-size: 28px;
	font-weight: 900;
	text-align: center;
	line-height: 1;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	z-index: -1;
	opacity: 0;
	transition: opacity 0.5s;
	transition-timing-function: ease-in-out;
}
.section2 .contentBox .contentBtn > .changeBtn.active {
	opacity: 1;
	z-index: 0;
}
.changeBtn .whiteBlock,
.changeBtn .pinkBlock {
	min-width: 80px;
	padding: 20px 15px;
}
.whiteBlock {
	width: 10%;
	background: #fff;
}
.pinkBlock {
	width: 90%;
	text-align: left;
	background: #ff0082;
	color: #fff;
}
.section2 .contentBox .contentBtn .leftBtn,
.section2 .contentBox .contentBtn .rightBtn {
	background: #fff;
	width: 49%;
	white-space: nowrap;
	font-size: 28px;
	font-weight: 900;
	text-align: center;
	color: #0000ff;
	line-height: 1;
	padding: 20px 0;
	opacity: 1;
	transition: opacity 0.5s;
	transition-timing-function: ease-in-out;
	cursor: pointer;
	z-index: 0;
}
.section2 .contentBox .contentBtn .leftBtn.active,
.section2 .contentBox .contentBtn .rightBtn.active {
	opacity: 0;
	z-index: -1;
}

.section2 .controlImage {
	display: none;
}

@media screen and (max-width: 1400px) {
	.section2 .row {
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.section2 .col {
		flex: none;
		width: 40%;
		justify-content: space-around;
	}
	.section2 .contentBox {
		flex: none;
		margin-top: 30px;
		width: 100%;
		order: 2;
	}
	.section2 .contentBox .contentBtn {
		width: 60%;
	}
}

@media screen and (max-width: 768px) {
	.section2 .col {
		display: none;
	}
	.section2 .controlImage {
		display: block;
		width: 90%;
	}
	.section2 .controlImage #mySlider {
		width: 100%;
		height: 100%;
	}
	.section2 .controlImage #mySlider .slider-container {
		width: 100%;
		height: 100%;
	}
	.section2 .controlImage #mySlider .before-img {
		z-index: 1;
	}
	.section2 .controlImage #mySlider .slider-btn {
		z-index: 2;
	}
	.section2 .contentBox {
		flex: none;
		margin-top: 30px;
		width: 100%;
		order: 2;
	}
	.section2 .contentBox .contentBtn {
		width: 70%;
	}
}

@media screen and (max-width: 375px) {
	.section2 .contentBox .content {
		white-space: normal;
	}
}
