body {
	background-color: #0032be;
}
header {
	position: fixed;
	top: 0;
	width: 100%;
}
#windowsNav {
	gap: 20px;
	width: 100%;
	min-width: none;
	border-radius: 0;
	background-color: #ffffff;
	transition: width 0.3s, border-radius 0.8s;
}
#ipadNav {
	background-color: #ffffff;
}
#ipadNav .hamburgerBtn {
	fill: #0032be;
}

.line {
	width: 100%;
	height: 2px;
	background-color: #fff;
	margin: 40px 0;
}
img {
	width: 100%;
	border-radius: 40px;
	overflow: hidden;
}

@media screen and (max-width: 768px) {
	.line {
		margin: 30px 0;
	}
	img {
		border-radius: 30px;
	}
}
@media screen and (max-width: 375px) {
	.line {
		margin: 25px 0;
	}
	img {
		border-radius: 20px;
	}
}

#content .card {
	opacity: 1;
	transition: opacity 1s;
	animation-name: loading;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-duration: 0.6s;
}
@keyframes loading {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
#content {
	width: 100%;
	min-height: calc(100vh - 100px);
	padding-top: 150px;
	padding-bottom: 50px;
}
.card {
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}
.titleBox {
	width: 95%;
	display: flex;
	gap: 10px;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
}
.titleBox .line {
	margin: 0;
}
.titleBox .chineseTitle,
.titleBox .englishTitle {
	font-size: 30px;
	font-weight: bolder;
	white-space: nowrap;
	color: #fff;
}

@media screen and (max-width: 768px) {
	.titleBox .chineseTitle,
	.titleBox .englishTitle {
		font-size: 20px;
	}
}
@media screen and (max-width: 375px) {
	.titleBox .chineseTitle,
	.titleBox .englishTitle {
		font-size: 18px;
	}
}
.banner {
	width: 95%;
}
.infoBox {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 16px;
}
.infoBox .firstLine,
.infoBox .secondLine,
.infoBox .thirdLine {
	display: flex;
}
.infoBox .firstLine div:nth-of-type(2n-1),
.infoBox .secondLine div:nth-of-type(2n-1),
.infoBox .thirdLine div:nth-of-type(2n-1) {
	font-weight: bolder;
}
.infoBox .firstLine div:nth-of-type(2n)::after,
.infoBox .secondLine div:nth-of-type(2n)::after {
	content: '';
	display: block;
	width: 1px;
	background: #fff;
	margin: 0 10px;
}
.infoBox .firstLine div:nth-of-type(2n),
.infoBox .secondLine div:nth-of-type(2n) {
	display: flex;
}
.infoBox div {
	white-space: nowrap;
}
.designerBox .text::after {
	content: 'ã€';
	display: inline;
}
.designerBox .text:last-child:after {
	display: none;
}
@media screen and (max-width: 1000px) {
	.infoBox {
		flex-wrap: wrap;
		gap: 5px;
	}
	.infoBox .secondLine {
		width: 100%;
		justify-content: center;
	}
}
@media screen and (max-width: 450px) {
	.infoBox {
		justify-content: start;
		font-size: 14px;
	}
	.infoBox .secondLine {
		justify-content: start;
	}
}
@media screen and (max-width: 375px) {
	.infoBox {
		font-size: 12px;
	}
}
.description {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	color: #fff;
	line-height: 1.5;
	text-align: center;
}

.innerImg img {
	margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
	.innerImg img {
		margin-bottom: 15px;
	}
}
@media screen and (max-width: 375px) {
	.innerImg img {
		margin-bottom: 10px;
	}
}

.remark {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 80%;
	color: #fff;
	gap: 5px;
	line-height: 1.5;
	font-size: 16px;
}
.remark .text {
	text-align: center;
}

@media screen and (max-width: 768px) {
	.remark {
		width: 90%;
		font-size: 14px;
	}
}
.CTA {
	margin-top: 20px;
	display: block;
	color: #0032be;
	font-size: 16px;
	font-weight: bolder;
	background-color: #fff;
	border-radius: 10px;
	padding: 18px 40px;
}

#linkPage {
	width: 100%;
	position: absolute;
	bottom: 0;
	display: flex;
	padding: 0 5%;
	justify-content: space-between;
}
#linkPage {
	width: 100%;
	position: absolute;
	bottom: 0;
	display: flex;
	padding: 0 15%;
	justify-content: space-between;
	margin-bottom: 10px;
}
#linkPage svg {
	width: 48px;
	height: 40px;
	scale: 0.5;
}
#linkPage svg > path {
	fill: #fff;
}
#linkPage a > div {
	color: #fff;
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: 20px;
	font-weight: bold;
}
