@charset "utf-8";

/*
 * Page name
 * Copyright 2020
 * Author
 * Licensed
 */

/* -------------------------- *\
	Content
\* -------------------------- */

/**
 * Content ............ You are reading it!
 * Globel ............ Set common styles
 * Layout ............ Set grid styles
 * Component ............ Set component styles
 * Utility ............ Set come tools styles
 */

/* -------------------------- *\
	Globel
\* -------------------------- */

* {
  box-sizing: border-box;
  position: relative;

  html,
  body {
    font-family: "Noto Sans TC", sans-serif, "微軟正黑體";
    height: 100vh;
    width: 100vw;
    // overflow: hidden;
    // background-color: #333;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    // color: #fff;
    margin: 0;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: #333;
  }

  [draggable="true"] {
    /*
     To prevent user selecting inside the drag source
    */
    user-select: none;
  }

  ::selection {
    background: #ff6d01;
    color: #fff;
  }
  /* -------------------------- *\
	Layout
\* -------------------------- */

  /* grid system */

  .container {
    max-width: 1140px;
    width: 100%;
    /* border: 1px solid #000; */
    margin: 0 auto;
    padding: 0 16px;
    /* 讓左右row-16px推回來 */
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }
  .navbar {
    position: fixed;
    display: grid;
    grid-template-columns: 7fr 5fr;
    grid-template-rows: auto;
    width: 100%;
    height: auto;
    padding: 1vw 10vw;
    top: 0;
    background-color: 0 0 !important;
    //   border: 1px solid #000;
    z-index: 2000;
    backdrop-filter: blur(40px) !important;
  }

  .nav__item {
    display: inline-block;
    align-self: center;
    &--2 {
      justify-self: start;
      grid-row: 1;
      grid-column: 2;
    }
    &--3 {
      justify-self: end;
      grid-row: 1;
      grid-column: 2;
    }
    h1 {
      font-size: 1.5vw;
    }
  }

  .info {
    display: grid;
    grid-template-columns: 7fr 5fr;
    grid-template-rows: auto;
    width: 80vw;
    height: auto;
    padding: 0vw 3vw 0 3vw;
    //   margin-top: -5vw;
    position: absolute;
    top: 10vw;
    justify-self: center;
  }
  .info__para {
    h1 {
      font-size: 4vw;
      font-family: "Alfa Slab One", cursive;
      letter-spacing: 0.1vw;
    }
    p {
      margin-top: 3vw;
      font-size: 1.5vw;
      line-height: 3vw;
      font-weight: 500;
    }
  }
  .info__pic {
    //   border: 1px solid #000;
    height: 30vw;
    width: 25vw;
    border-radius: 50% / 50%;
    background-image: url("/images/face/HKT.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-self: center;
    &.active {
      background-image: url("/images/face/non-face.png");
      .click-me {
        background-image: url("/images/move.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        width: 8vw;
        height: 8vw;
        display: inline-block;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      #draggable6 {
        cursor: move;

        background-image: url("/images/face/eye--left.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        width: 2.2vw;
        height: 2.2vw;
        display: inline-block;
        position: absolute;
        left: 53%;
        top: 39%;
      }
      #draggable7 {
        cursor: move;

        background-image: url("/images/face/eye--right.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        width: 1.9vw;
        height: 1.9vw;
        display: inline-block;
        position: absolute;
        left: 40%;
        top: 32%;
      }
      #draggable8 {
        cursor: move;

        background-image: url("/images/face/nose.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        width: 3.3vw;
        height: 3.3vw;
        display: inline-block;
        position: absolute;
        left: 42%;
        top: 39%;
      }
      #draggable9 {
        cursor: move;

        background-image: url("/images/face/mouth.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        width: 2.5vw;
        height: 2.5vw;
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 33%;
      }
    }
    .click-me {
      background-image: url("/images/click.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      width: 9vw;
      height: 9vw;
      display: inline-block;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .about {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    .ui-widget-content {
      background: none;
      border: none;
    }
  }
  #draggable {
    cursor: move;

    background-image: url("/images/pic1.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 8vw;
    height: 8vw;
    display: inline-block;
    position: absolute;
    left: 46vw;
    top: 13vw;

    animation: flowerShake 2s 1s both;
    animation-iteration-count: infinite;
    &:hover {
      animation: move 0.2s 0s both;
    }
  }
  @keyframes flowerShake {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-15deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(-15deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  @keyframes move {
    0% {
      transform: translate(0.5vw, 0);
    }
    100% {
      transform: translate(0vw, 0);
    }
  }
  #draggable1 {
    cursor: move;

    background-image: url("/images/pic2.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 10vw;
    height: 10vw;
    display: inline-block;

    position: absolute;
    left: 7vw;
    top: 23vw;
  }
  #draggable2 {
    cursor: move;

    background-image: url("/images/pic3.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 10vw;
    height: 10vw;
    display: inline-block;

    display: inline-block;
    position: absolute;
    left: 55vw;
    top: 24vw;
  }
  #draggable3 {
    cursor: move;

    background-image: url("/images/pic4.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 10vw;
    height: 10vw;
    display: inline-block;
    transform: rotate(-15deg);

    position: absolute;
    left: 5vw;
    top: 39vw;
  }
  #draggable4 {
    cursor: move;

    background-image: url("/images/pic5.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 13vw;
    height: 13vw;
    display: inline-block;
    transform: rotate(15deg);

    position: absolute;
    left: 77vw;
    top: 9vw;
  }
  #draggable5 {
    cursor: move;

    background-image: url("/images/pic6.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 7vw;
    height: 7vw;
    transform: rotate(15deg);
    display: inline-block;

    position: absolute;
    left: 35vw;
    top: 35vw;
  }
  .scroll {
    background-image: url("/images/scroll.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 5vw;
    padding-top: 15vw;
    display: inline-block;
    position: absolute;
    left: 85vw;
    top: 35vw;

    transition: all 0.5s;
  }
}
.main {
  // background-color: #000;
  width: 100vw;
  // margin: 10vw 0;
  padding-top: 10vw;
  display: flex;
  //   justify-content: start;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  .owl-nav {
    display: flex;
    justify-content: space-between;
    top: -11.5vw;
    margin: 0vw auto;
    // padding-left: 0.5vw;
    width: 28vw;

    .owl-prev,
    .owl-next {
      width: 3vw;
      height: 3vw;
      background-repeat: no-repeat !important;
      background-position: center !important;
      background-size: contain !important;

      transition: all 0.3s;

      span {
        display: none;
      }
    }
    .owl-prev {
      background-image: url("/images/prev.png") !important;
      &:hover {
        background-image: url("/images/prev-1.png") !important;
      }
    }
    .owl-next {
      background-image: url("/images/next.png") !important;
      &:hover {
        background-image: url("/images/next-2.png") !important;
      }
    }
  }
  .owl-dots {
    // border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin: 0vw 46vw;
    top: -1vw;
    .owl-dot {
      width: 1.2vw;
      height: 1.2vw;
      border: 0.2vw solid #000;
      margin: 0 0.3vw;
      border-radius: 50%;
      &.active {
        background-color: #000;
      }
    }
  }
  .work__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 68vw;
    flex-direction: row;
    margin-bottom: 2vw;
    font-family: "Alfa Slab One", cursive;

    .work__nav__title {
      font-size: 2vw;
      letter-spacing: 0.1vw;
      color: #000;
      transition: all 0.3s;

      &:hover {
        color: transparent;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      }
      &.active {
        color: #ff6d01;
        &:hover {
          color: #ff6d01;
          text-shadow: 0 0 0px rgba(0, 0, 0, 0);
        }
      }
    }

    span {
      display: inline-block;
      font-size: 3vw;
      //   position: absolute;
      top: 0.5vw;
    }
  }
  .work--container {
    padding-top: 4vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    height: 30vw;
    background-color: #ff6d01;

    display: none;
    &.active {
      display: flex;
    }
  }
  .work {
    width: 20vw;
    height: 20vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-self: center;

    margin: 0 2vw;
    transition: all 1s;
    &:hover {
      transform: rotateY(180deg);
    }
    &:hover > .work--back {
      transform: rotateY(180deg);
      display: block;
    }
    .work--back {
      display: none;
      width: 20vw;
      height: 20vw;
      background-color: #fff;
      border: 0.4vw solid #000;
      transition: all 0.3s;
      .work__para {
        margin: 1vw auto;
        width: 17vw;
        height: 17vw;
        // border: 1px solid #000;
        h1 {
          color: #ff6d01;
          font-size: 2vw;
        }
        p {
          margin-top: 1vw;
          font-size: 1vw;
          line-height: 2vw;
          letter-spacing: 0.1vw;
        }
      }
    }
  }
}

@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg);
  }
}
footer {
  margin-top: 10vw;
  width: 100vw;
  height: 10vw;
  background-color: #000;
  display: flex;
  align-content: center;
  justify-content: center;
  .contact {
    display: grid;
    grid-template-columns: 7fr 2.5fr 2.5fr;
    grid-template-rows: auto;
    width: 100%;
    height: auto;
    padding: 0 10vw;
    margin: auto 0;
  }

  h1 {
    color: #fff;
    font-size: 3vw;
    letter-spacing: 0.1vw;
  }
  a {
    color: #fff;
    font-size: 1vw;
    &:hover {
      color: #ff6d01;
    }
  }
  i {
    font-size: 2.5vw;
    color: #ff6d01;
    top: 0.5vw;
    margin-right: 1vw;
  }
}
